before_script:
  - module load python/3.6.1-2-anaconda
  - module load nextflow/0.31.1_Ignite

stages:
  - astrocyte

astrocyte_check:
  stage: astrocyte
  script:
  - astrocyte_cli check ../tcga_shiny

