process {
  executor = 'slurm'
  queue='super'

  // Process specific configuration
  $checkDesignFile {
    module = ['python/3.6.1-2-anaconda']
    executor = 'local'
  }
  $count2 {
    module = ['cellranger/2.1.1']
  }
  $count3 {
    module = ['cellranger/3.0.1']
  }
}

trace {
  enabled = true
  file = 'pipeline_trace.txt'
  fields = 'task_id,native_id,process,name,status,exit,submit,start,complete,duration,realtime,%cpu,%mem,rss'
}

timeline {
  enabled = true
  file = 'timeline.html'
}

report {
  enabled = true
  file = 'report.html'
}
