process {
  executor = 'slurm'
  queue='super'
}

trace {
  enabled = true
  file = 'pipeline_trace.txt'
  fields = 'task_id,native_id,process,name,status,exit,submit,start,complete,duration,realtime,%cpu,%mem,rss'
}

timeline {
  enabled = true
  file = 'timeline.html'
}

report {
  enabled = true
  file = 'report.html'
}
